# Set the active cluster during db provisioning
#VITE_ACTIVE_CLUSTER_ID='clusterDevnet'
# Define the endpoint for the API
VITE_API_ENDPOINT=http://localhost:8787
# Set the cluster url for Devnet during db provisioning. Set the value to an empty string to disable the cluster.
#VITE_CLUSTER_DEVNET=''
#VITE_CLUSTER_DEVNET_SUBSCRIPTIONS=''
# Set the cluster url for Localnet during db provisioning. Set the value to an empty string to disable the cluster.
#VITE_CLUSTER_LOCALNET=''
#VITE_CLUSTER_LOCALNET_SUBSCRIPTIONS=''
# Set the cluster url for Mainnet during db provisioning. Set the value to an empty string to disable the cluster.
#VITE_CLUSTER_MAINNET=''
#VITE_CLUSTER_MAINNET_SUBSCRIPTIONS=''
# Set the cluster url for Testnet during db provisioning. Set the value to an empty string to disable the cluster.
#VITE_CLUSTER_TESTNET=''
#VITE_CLUSTER_TESTNET_SUBSCRIPTIONS=''
