version: 2
updates:
  - package-ecosystem: 'bun'
    directory: '/'
    schedule:
      interval: 'daily'

  - package-ecosystem: 'cargo'
    directory: '/apps/desktop/src-tauri'
    schedule:
      interval: 'daily'
