# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# CloudFlare
.wrangler

# Build Outputs
.next
out
build
dist
.output
.wxt
.astro
.expo

# Debug
npm-debug.log*

# Misc
.DS_Store
*.pem
tmp
